@using Final_Project.Models
@using Final_Project.BusinessObjects
@model List<UserListModel>


<head>
    <title>Lists</title>
</head>

<!-- Page Content -->
<div id="content" class="container grid">
    <div id="ActionBar">
        <div class="row">
            <button type="button" id="sidebarCollapse" class="navbar-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
    <div class="row" id="ListContent">
        <div class="col-4">
            <div class="card">
                <div class="card-header">Lists</div>
                <div class="card-body">
                    @*@foreach (var list in Model)*@
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        @*<p>@Model[i].Name</p>*@
                    <form asp-action="Index" asp-controller="UserList" method="post">
                        <input type="hidden" id="id" name="id" asp-for="@Model[i].ID" />
                        <input type="hidden" id="Name" name="Name" asp-for="@Model[i].Name" />
                        @for (int j = 0; j < Model[i].ItemsList.Count(); j++)
                        {
                            <input type="hidden" id="ItemsList" name="ItemsList" asp-for="@Model[i].ItemsList[j]" />
                        }
                        <input type="hidden" id="Selected" name="Selected" asp-for="@Model[i].Selected" />

                        <button type="submit" class="btn btn-default">@Model[i].Name</button>
                    </form>
                    }
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-header">@Model.Where(m => m.Selected == true).Select(m => m.Name).FirstOrDefault()</div>
                <div class="card-body">
                    <ul>
                        @*@foreach(var item in Model.Where(m => m.Selected == true).Select(m => m.ItemsList))*@
                        @{ List<UserListItem> SelectedItems = Model.Where(m => m.Selected == true).Select(m => m.ItemsList).FirstOrDefault();}
                        @for (int i = 0; i < SelectedItems?.Count(); i++)
                        {
                            <li>@SelectedItems[i].Item</li>
                        }
                        @*<li>List item 1</li>foreach
                        <li>List item 2</li>
                        <li>List item 3</li>*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

