@using Final_Project.Models
@model LocationModel

<head>
    <title>Map</title>
</head>
<!-- Page Content -->
<div id="content" class="grid">
    <div id="ActionBarMap">
        <div class="row">
            <button type="button" id="sidebarCollapse" class="navbar-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <input id="SearchBar" class="col-6" autocomplete="on" type="search" name="search" placeholder="&#xF002 Find a location" />
            <a href="../LocationForm" id="AddLocationBTN" name="AddLocationBTN"> <i class="fas fa-plus"></i></a>
        </div>
    </div>
    <div class="row" id="map"></div>

</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDQe2Nov8eYcEOSJpHSxo5CIyC9BvMTgk&libraries=places&callback=initMap"
        async defer></script>

<script>
    @*var LocList = {};
    $.get('@Url.Action("GetLocationList", "Home")', function (data) {
        LocList = data;
    });*@

    var LocList = @Html.Raw(Json.Serialize(Model.LocationList));
    //var LocList;

    @*$.get("@Url.Action("GetLocationList", "Home")")*@

        @*$.ajax({
            url: '@Url.Action("GetLocationList")',
            type: 'GET',
            data: { }
        }).done(function (data) {
            // alert(JSON.stringify(data));
            LocList = data;
        });*@

    function AddMarkerForSearchedPlace() {
        $.ajax({
            url: '@Url.Action("AddLocation")',
            type: 'POST',
            data: { lat: autocomplete.getPlace().latLng.Latitude, lon: autocomplete.getPlace().latLng.Longitude}
        }).done(function (data) {
             alert(JSON.stringify(data));
           // LocList = data;
        });
    }

</script>


<script src="~/Scripts/MapPageScript.js"></script>