@using Final_Project.Models
@model LocationModel

<head>
    <title>Map</title>
</head>
<!-- Page Content -->
<div id="content" class="grid">
    <div id="ActionBarMap">
        <div class="row">
            <button type="button" id="sidebarCollapse" class="navbar-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <input id="SearchBar" class="col-6" autocomplete="on" type="search" name="search" placeholder="&#xF002 Find a location" />
            <a href="../LocationForm" id="AddLocationBTN" name="AddLocationBTN"> <i class="fas fa-plus"></i></a>
        </div>
    </div>
    <div class="row" id="map"></div>
    @*<input type="file" id="uploadImageBox" multiple onchange="ImagesSelectedHandler()" name="Image" ENCTYPE=”multipart/form-data” />*@
    @*accept=".png,.jpg,.jpeg,.gif,.bmp"*@
    <input type="file" id="uploadImageBox" onchange="ImagesSelectedHandler()" style="display:none" multiple accept=".png,.jpg,.jpeg,.gif,.bmp" />



</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDQe2Nov8eYcEOSJpHSxo5CIyC9BvMTgk&libraries=places&callback=initMap"
        async defer></script>

<script>
    var LocList = @Html.Raw(Json.Serialize(Model.LocationList));

    //Remove marker from map and db
    function RemoveMarkerFromMap(id) {
        $.ajax({
            //url: '/Home/Remove_Location',
            url: '@Url.Action("Remove_Location", "Home")', //either url works
            type: 'POST',
            data: { lat: MarkerList[id].getPosition().lat(), lon: MarkerList[id].getPosition().lng() },
        });

        MarkerList[id].setMap(null);
    }

    //add marker from right click or search on map
    function AddMarkerFromLatLon(lat, lon, country) {
         $.ajax({
            //url: '/Home/AddLocationWithLatLon',
            url: '@Url.Action("AddLocationWithLatLon", "Home")', //either url works
             type: 'POST',
             data: { lat: lat, lon: lon, country: country },
        });
        window.location.reload(); //reloads page but kinda a shitty way to do it, hopefully will fix later
    }

     //Send lat and lon and get back title, description, and DateVisited
    function GetTitleAndDescription(lat, lon) {
        $.ajax({
            url: '@Url.Action("GetTitleAndDescription", "Home")',
            type: 'POST',
            data: { lat: lat, lon: lon },
            success: function (data) {
                var objResult = JSON.parse(JSON.stringify(data)); //parse result into object
                document.getElementById("Title").innerHTML = objResult.title;
                document.getElementById("Description").innerHTML = objResult.description;
                document.getElementById("DateVisited").value = objResult.dateVisited;
                document.getElementById("CategoryEditor").value = objResult.category;

                //alert(objResult.images[0]);
                //alert(objResult.images[0]);
                //alert(objResult.images.length);
                if (objResult.images[0] != null && objResult.images[0] != "") {
                    //Add images for marker into div of infowindow
                    for (var i = 0; i < objResult.images.length; i++) {
                        var Image = "<img src =" + "'" + objResult.images[i] + "'" + " alt='Image' height='100' style='margin: 3px;'/>"
                        //child.innerHTML += Image;
                    document.getElementById('ImageDiv').insertAdjacentHTML('beforeend', Image);
                    }
                }
            }
        });
    }

    function SaveUpdatesForMarker(id) {
        document.getElementById("Title").contentEditable = false;
        document.getElementById("Description").contentEditable = false;
        document.getElementById("DateVisited").readOnly = true;
        document.getElementById("CategoryEditor").disabled = true;

        var CategorySelect = document.getElementById("CategoryEditor");

        $.ajax({
            url: '@Url.Action("Update_Location", "Home")',
            type: 'POST',
            data: {
                Title: document.getElementById("Title").innerHTML,
                Description: document.getElementById("Description").innerHTML,
                DateVisited: document.getElementById("DateVisited").value,
                Category: CategorySelect.options[CategorySelect.selectedIndex].text,
                lat: MarkerList[id].getPosition().lat(),
                lon: MarkerList[id].getPosition().lng()
            },
        });
    }

    var IndexForImage = null;
    //open file browser to pick image
    function OpenFileBrowser(data) {
        document.getElementById("uploadImageBox").click();
        IndexForImage = data;
        //alert(MarkerList[IndexForImage].getPosition().lat());
    }

    //Get the image selected and send it to controller
    function ImagesSelectedHandler(e) {
        var Selectedfiles = document.getElementById("uploadImageBox");

        //var ImageString = null;
        //var FR = new FileReader();
        @*FR.addEventListener("load", function (e) {
            ImageString = e.target.result;
            //alert(ImageString);
            $.ajax({
                url: '@Url.Action("AddImage", "Home")',
                type: 'POST',
                data: {
                    Image: ImageString,
                    lat: MarkerList[IndexForImage].getPosition().lat(),
                    lon: MarkerList[IndexForImage].getPosition().lng()
                },
                success: function (data) {
                    //update the infowindow to show uploaded image
                    alert("updated image");
                    var Image = "<img src=" + "'" + ImageString + "'" + " alt='Image' height='100' style='margin: 3px;'/>"
                    document.getElementById('ImageDiv').insertAdjacentHTML('beforeend', Image);
                }
            });
        });*@
        //alert(Selectedfiles.files.length);

        var SuccessCount = 0;
        var ImageStringArray = [];
        for (var i = 0; i < Selectedfiles.files.length; i++) {
            var ImageString = null;
            var FR2 = new FileReader();
            
            FR2.addEventListener("load", function (e) {
                ImageString = e.target.result; //get image string
                ImageStringArray.push(ImageString); //add image string to arraay
            $.ajax({
                url: '@Url.Action("AddImage", "Home")',
                type: 'POST',
                data: {
                    Image: ImageString,
                    lat: MarkerList[IndexForImage].getPosition().lat(),
                    lon: MarkerList[IndexForImage].getPosition().lng()
                },
                success: function (data) {
                    //update the infowindow to show uploaded image
                    var Image = "<img src=" + "'" + ImageStringArray[SuccessCount] + "'" + " alt='Image' height='100' style='margin: 3px;'/>"
                    document.getElementById('ImageDiv').insertAdjacentHTML('beforeend', Image);
                    SuccessCount++; //index into array for current image callback
                }
            });
            });
            FR2.readAsDataURL(Selectedfiles.files[i]);
        }
        //FR.readAsDataURL(Selectedfiles.files[0]); //for single image
    }
</script>

<script src="~/Scripts/MapPageScript.js"></script>